<div class="landingpage" ng-controller="parentController">
    <div class="container">
        <div class="row">
            <div ng-include="'../../common/views/appHeader.html'"></div>
        </div>

        <div class="content">
            <h2 class="text-center">
                {{'WELCOME_TO' | translate}}
                <span ng-repeat="group in userGroups" class="groupList">
                    {{group.name}}
                </span>
            </h2>

            <h3 class="text-center">{{'CREATE_YOUR_CHILD_PROFILE' | translate}}</h3>

            <div class="form-box col-md-8 col-sm-12 col-xs-12 col-md-offset-2 col-sm-offset-0 xs-offset-0">
                <div class="col-xs-8 col-xs-offset-2 profileToCreate" ng-repeat="student in noProfileStudents">
                    <div class="item">
                        <i class="fa fa-check"></i>
                        <a ui-sref="detail({id: student._id})">{{student.name}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
