<section class="signup-section access-section section">
    <div class="container">
        <form name="joinGroup" ng-submit="joinToGroup(groupCode)">
            <div class="form-group groupCode">
                <input type="text" class="form-control" name="code" placeholder ="{{'GROUP_CODE'  | translate}}" ng-model="groupCode" required>
            </div>

            <button type="submit" class="btn btn-block btn-cta-primary">{{'SUBMIT' | translate}}</button>
        </form>
    </div>
</section>
