<div class="profile">
    <div class="container">
        <div class="row">
            <div ng-include="'../../common/views/appHeader.html'"></div>
        </div>

        <div class="content">
            <div class="col-md-2 profilePicture">
                <span class="avatar-holder"><img ng-src="{{student.personalInfo.profilePicture.thumb}}" alt=""/></span>
                <div>{{student.name}}</div>
            </div>

            <div class="col-md-10 info">
                <div class="form-group">
                    <label for="nickname" class="control-label col-md-3">{{'NICKNAME' | translate}}</label>
                    <div class="col-md-9">
                        <span>{{student.personalInfo.nickname}}</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="nickname" class="control-label col-md-3">{{'ALLERGIES' | translate}}</label>
                    <div class="col-md-9">
                        <span>{{student.personalInfo.allergies}}</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="primaryContact" class="control-label col-xs-3">{{'CONTACT_PERSON1' | translate}}</label>
                    <div class="col-xs-9 row">
                        <span class="col-sm-6 col-xs-12" ng-if="student.personalInfo.primaryContact.name">
                            <i class="fa fa-user"></i>
                            {{student.personalInfo.primaryContact.name}}
                        </span>
                        <span class="col-sm-6 col-xs-12" ng-if="student.personalInfo.primaryContact.address">
                            <i class="fa fa-map-marker"></i>
                            {{student.personalInfo.primaryContact.address}}
                        </span>
                        <span class="col-sm-6 col-xs-12" ng-if="student.personalInfo.primaryContact.email">
                            <i class="fa fa-envelope"></i>
                            {{student.personalInfo.primaryContact.email}}
                        </span>
                        <span class="col-sm-6 col-xs-12" ng-if="student.personalInfo.primaryContact.phone">
                            <i class="fa fa-phone"></i>
                            {{student.personalInfo.primaryContact.phone}}
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="guardians" class="control-label col-xs-3">{{'CONTACT_PERSON2' | translate}}</label>
                    <div class="col-xs-9">
                        <div class="row block" ng-repeat="guardian in student.personalInfo.guardians">
                            <span class="col-sm-6 col-xs-12" ng-if="guardian.name">
                                <i class="fa fa-user"></i>
                                {{guardian.name}}
                            </span>
                            <span class="col-sm-6 col-xs-12" ng-if="guardian.address">
                                <i class="fa fa-map-marker"></i>
                                {{guardian.address}}
                            </span>
                            <span class="col-sm-6 col-xs-12" ng-if="guardian.email">
                                <i class="fa fa-envelope"></i>
                                {{guardian.email}}
                            </span>
                            <span class="col-sm-6 col-xs-12" ng-if="guardian.phone">
                                <i class="fa fa-phone"></i>
                                {{guardian.phone}}
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="pickupPeople" class="control-label col-xs-3">{{'PICKUP_PEOPLE' | translate}}</label>
                    <div class="col-xs-9">
                        <div class="row block" ng-repeat="pickupPeople in student.personalInfo.pickupPeople">
                            <span class="col-sm-6 col-xs-12" ng-if="pickupPeople.name">
                                <i class="fa fa-user"></i>
                                {{pickupPeople.name}}
                            </span>
                            <span class="col-sm-6 col-xs-12" ng-if="pickupPeople.address">
                                <i class="fa fa-map-marker"></i>
                                {{pickupPeople.address}}
                            </span>
                            <span class="col-sm-6 col-xs-12" ng-if="pickupPeople.email">
                                <i class="fa fa-envelope"></i>
                                {{pickupPeople.email}}
                            </span>
                            <span class="col-sm-6 col-xs-12" ng-if="pickupPeople.phone">
                                <i class="fa fa-phone"></i>
                                {{pickupPeople.phone}}
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="otherNotes" class="control-label col-xs-3">{{'OTHER_NOTES' | translate}}</label>
                    <div class="col-xs-9">
                        <span>{{student.personalInfo.otherNotes}}</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="guardianPartner" class="control-label col-xs-3">{{'ADD_USER' | translate}}</label>
                    <div class="col-xs-9">
                        <span>{{student.representatives}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="appFooter">
            <div ng-include="'../../common/views/appFooter.html'"></div>
        </div>
    </div>
</div>
