<div class="studentInfo" ng-controller="parentController">
    <div class="title text-center">
        <h2>
            {{'KINDERGARTEN_GROUP' | translate}}:
            <span ng-repeat="group in userGroups" class="groupList">
                {{group.name}}
            </span>

        </h2>
    </div>
    <div ng-repeat="student in myChildren" class="childProfile">
        <form editable-form
              name="editableForm"
              class="editableForm"
              ng-class="{on: editableForm.$visible}"
              onaftersave="saveEditedProfile(student, $index)">
            <div class="col-sm-2 col-xs-12 profilePicture">

                <div class="dropdown" dropdown>
                    <a href class="dropdown-toggle avatar" dropdown-toggle>
                        <span class="pic-holder"><img ng-src="{{student.personalInfo.profilePicture.thumb}}"
                                                      alt=""/></span>
                        <span class="name">{{student.name}}</span>
                    </a>
                    <ul class="dropdown-menu childStatus">
                        <li class="item" ng-repeat="option in statusOptions"
                            ng-click="updateChildStatus(student, option)">
                            <a ng-class="option">
                                <i class="fa fa-circle"></i>
                                {{option | uppercase | translate}}
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- Split button -->
                <div class="statusArea" ng-show="student.status.length > 0">
                    <ul class="status">
                        <li ng-repeat="status in student.status">
                            <div ng-if="status === 'incare' || status === 'outcare'">{{status + '_STATUS' | uppercase |
                                translate}}
                            </div>
                            <div ng-if="status !== 'incare' && status !== 'outcare'">{{status | uppercase |
                                translate}}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-10 col-xs-12 info">
                <div class="form-group">
                    <label for="nickname" class="control-label col-sm-3 col-xs-12">{{'NICKNAME' | translate}}</label>

                    <div class="col-sm-9 col-xs-11 col-sm-offset-0 col-xs-offset-1">
                        <span editable-text="student.personalInfo.nickname" e-name="nickname" onbeforesave="">
                            {{ student.personalInfo.nickname || 'EMPTY' | translate }}
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="allergies" class="control-label col-sm-3 col-xs-12">{{'ALLERGIES' | translate}}</label>

                    <div class="col-sm-9 col-xs-11 col-sm-offset-0 col-xs-offset-1">
                        <span editable-text="student.personalInfo.allergies" e-name="allergies" onbeforesave="">
                            {{ student.personalInfo.allergies || 'EMPTY' | translate }}
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="primaryContact" class="control-label col-sm-3 col-xs-12">{{'CONTACT_PERSON1' |
                        translate}}</label>

                    <div class="col-sm-9 col-xs-11 col-sm-offset-0 col-xs-offset-1">
                        <div class="row form-group block">
                            <div class="col-md-6 col-sm-12 item">
                                <span editable-text="student.personalInfo.primaryContact.name"
                                      e-name="primaryContact.name" e-placeholder="{{'NAME' | translate}}"
                                      onbeforesave="">
                                    {{ student.personalInfo.primaryContact.name  || 'EMPTY' | translate }}
                                </span>
                            </div>
                            <div class="col-md-6 col-sm-12 item">
                                <span editable-text="student.personalInfo.primaryContact.address"
                                      e-name="primaryContact.address" e-placeholder="{{'ADDRESS' | translate}}"
                                      onbeforesave="">
                                    {{ student.personalInfo.primaryContact.address  || 'EMPTY' | translate }}
                                </span>
                            </div>

                            <div class="col-md-6 col-sm-12 item">
                                <span editable-text="student.personalInfo.primaryContact.email"
                                      e-name="primaryContact.email" e-placeholder="{{'EMAIL' | translate}}"
                                      onbeforesave="">
                                    {{ student.personalInfo.primaryContact.email  || 'EMPTY' | translate }}
                                </span>
                            </div>
                            <div class="col-md-6 col-sm-12 item">
                                <span editable-text="student.personalInfo.primaryContact.phone"
                                      e-name="primaryContact.phone" e-placeholder="{{'PHONE' | translate}}"
                                      onbeforesave="">
                                    {{ student.personalInfo.primaryContact.phone  || 'EMPTY' | translate }}
                                </span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <label for="guardians" class="control-label col-sm-3 col-xs-12">{{'CONTACT_PERSON2' |
                        translate}}</label>

                    <div class="col-sm-9 col-xs-11 col-sm-offset-0 col-xs-offset-1">
                        <div class="row form-group block" ng-repeat="guardian in student.personalInfo.guardians">
                            <div class="col-md-6 col-sm-12 item">
                                <span editable-text="guardian.name" e-name="guardians"
                                      e-placeholder="{{'NAME' | translate}}">
                                    {{ guardian.name || 'EMPTY' | translate }}
                                </span>
                            </div>

                            <div class="col-md-6 col-sm-12 item">
                                <span editable-text="guardian.address" e-name="guardians"
                                      e-placeholder="{{'ADDRESS' | translate}}">
                                    {{ guardian.address || 'EMPTY' | translate }}
                                </span>
                            </div>

                            <div class="col-md-6 col-sm-12 item">
                                <span editable-text="guardian.email" e-name="guardians"
                                      e-placeholder="{{'EMAIL' | translate}}">
                                    {{ guardian.email || 'EMPTY' | translate }}
                                </span>
                            </div>

                            <div class="col-md-6 col-sm-12 item">
                                <span editable-text="guardian.phone" e-name="guardians"
                                      e-placeholder="{{'PHONE' | translate}}">
                                    {{ guardian.phone || 'EMPTY' | translate }}
                                </span>
                            </div>

                            <span ng-if="$index > 0 && editableForm.$visible" class="delete"
                                  ng-click="remove(student.personalInfo.guardians, $index)">
                                <i class="fa fa-times"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-12" ng-if="editableForm.$visible">
                        <button class="btn btn-primary pull-right addmore" type="button"
                                ng-click="addMore(student.personalInfo.guardians)">{{'ADD_MORE' | translate}}
                        </button>
                    </div>
                </div>

                <div class="form-group">
                    <label for="pickupPeople" class="control-label col-sm-3 col-xs-12">{{'PICKUP_PEOPLE' |
                        translate}}</label>

                    <div class="col-sm-9 col-xs-11 col-sm-offset-0 col-xs-offset-1">
                        <div class="row form-group block" ng-repeat="pickupPeople in student.personalInfo.pickupPeople">
                            <div class="col-md-6 col-sm-12 item">
                                <span editable-text="pickupPeople.name" e-name="guardians"
                                      e-placeholder="{{'NAME' | translate}}">
                                    {{ pickupPeople.name || 'EMPTY' | translate }}
                                </span>
                            </div>

                            <div class="col-md-6 col-sm-12 item">
                                <span editable-text="pickupPeople.address" e-name="guardians"
                                      e-placeholder="{{'ADDRESS' | translate}}">
                                    {{ pickupPeople.address || 'EMPTY' | translate }}
                                </span>
                            </div>

                            <div class="col-md-6 col-sm-12 item">
                                <span editable-text="pickupPeople.email" e-name="guardians"
                                      e-placeholder="{{'EMAIL' | translate}}">
                                    {{ pickupPeople.email || 'EMPTY' | translate }}
                                </span>
                            </div>

                            <div class="col-md-6 col-sm-12 item">
                                <span editable-text="pickupPeople.phone" e-name="guardians"
                                      e-placeholder="{{'PHONE' | translate}}">
                                    {{ pickupPeople.phone || 'EMPTY' | translate }}
                                </span>
                            </div>

                            <span ng-if="$index > 0 && editableForm.$visible" class="delete"
                                  ng-click="remove(student.personalInfo.pickupPeople, $index)">
                                <i class="fa fa-times"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-12" ng-if="editableForm.$visible">
                        <button class="btn btn-primary pull-right addmore" type="button"
                                ng-click="addMore(student.personalInfo.pickupPeople)">{{'ADD_MORE' | translate}}
                        </button>
                    </div>
                </div>

                <div class="form-group">
                    <label for="otherNotes" class="control-label col-sm-3 col-xs-12">{{'OTHER_NOTES' |
                        translate}}</label>

                    <div class="col-sm-9 col-xs-11 col-sm-offset-0 col-xs-offset-1">
                        <span editable-textarea="student.personalInfo.otherNotes" e-name="otherNotes"
                              editable-textarea="user.desc" e-rows="7" e-cols="40">
                            {{ student.personalInfo.otherNotes || 'NO_DESCRIPTION' | translate }}
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="guardianPartner" class="control-label col-sm-3 col-xs-12">{{'ADD_USER' |
                        translate}}</label>

                    <div class="col-sm-9 col-xs-11 col-sm-offset-0 col-xs-offset-1">
                        <div class="" ng-if="editableForm.$visible"
                             ng-repeat="representative in student.personalInfo.newRepresentatives">
                            <input type="text" name="guardianPartner" class="form-control"
                                   ng-model="representative.email"
                                   placeholder="{{'USERS_EMAIL' | translate}}"/>
                            <span ng-if="$index > 0" class="delete"
                                  ng-click="remove(student.personalInfo.newRepresentatives, $index)">
                                <i class="fa fa-times"></i>
                            </span>
                        </div>

                        <div class="" ng-if="!editableForm.$visible">
                            <ul>
                                <li class="item" ng-repeat="item in student.personalInfo.representatives">{{item}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12" ng-if="editableForm.$visible">
                        <button class="btn btn-primary pull-right addmore" type="button"
                                ng-click="addMore(student.personalInfo.newRepresentatives)">{{'ADD_MORE' | translate}}
                        </button>
                    </div>
                </div>
                <div class="form-group" ng-show="editableForm.$visible">
                    <div class="col-sm-12">
                        {{'PROFILE_PIC' | translate}}: <input type="file" ng-file-select="" ng-model="picFile"
                                                              name="file" accept="image/*"
                                                              ng-file-change="generateThumb(picFile[0], $files)">
                        <br>
                        <!--doesn't work with camel case -> dataSource-->
                        <!--ng-if here to make sure only one .img-container, and #preview-pane-->
                        <div class="img-container" ng-if="editableForm.$visible">
                            <!--if we use ng-if, datasource is not updated ???-->
                            <img ng-show="picFile[0].dataUrl != null" id="profilePic" ng-src="{{picFile[0].dataUrl}}"
                                 ng-jcrop="{aspectRatio: 1, onChange: updatePreview, boxWidth: 450, boxHeight: 400}"
                                 datasource="datasource"/>
                        </div>
                        <div id="preview-pane" ng-show="picFile[0].dataUrl != null" ng-if="editableForm.$visible">
                            <div class="preview-container">
                                <img ng-src="{{picFile[0].dataUrl}}" class="jcrop-preview" alt="Preview"/>
                            </div>
                        </div>
                            <span class="progress" ng-show="picFile[0].progress >= 0">
                                <div style="width:{{picFile[0].progress}}%" ng-bind="picFile[0].progress + '%'"
                                     class="ng-binding"></div>
                            </span>
                        <span ng-show="picFile[0].result">Upload Successful</span>
                    </div>
                </div>

                <div class="col-xs-12">
                    <button type="button" class="btn btn-default" ng-click="editableForm.$show()"
                            ng-show="!editableForm.$visible">
                        {{'EDIT' | translate}}
                    </button>
                    <span ng-show="editableForm.$visible">
                        <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting"
                                ng-click="uploadPic(picFile, student)">
                            {{'SAVE' | translate}}
                        </button>
                        <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting"
                                ng-click="editableForm.$cancel()">
                            {{'CANCEL' | translate}}
                        </button>
                    </span>
                </div>
            </div>

        </form>
    </div>
</div>
