logs/*
!.gitkeep
node_modules/
tmp
.idea
.DS_Store

config/aws.json
public/velocity/

public/assets/Iconr
public/assets/css/Iconr
public/assets/js/Iconr
public/assets/js/min/Iconr
public/assets/plugins/Iconr
public/assets/plugins/bootstrap/Iconr
public/assets/plugins/bootstrap/css/Iconr
public/assets/plugins/bootstrap/fonts/Iconr
public/assets/plugins/bootstrap/js/Iconr
public/assets/plugins/FitVids/Iconr
public/assets/plugins/flexslider/Iconr
public/assets/plugins/flexslider/fonts/Iconr
public/assets/plugins/flexslider/images/Iconr
public/assets/plugins/font-awesome/Iconr
public/assets/plugins/font-awesome/css/Iconr
public/assets/plugins/font-awesome/fonts/Iconr
public/assets/plugins/font-awesome/less/Iconr
public/assets/plugins/font-awesome/scss/Iconr
public/assets/plugins/gmaps/Iconr
public/assets/plugins/imagesloaded/Iconr
public/assets/plugins/imagesloaded/test/Iconr
public/assets/plugins/imagesloaded/test/img/Iconr
public/assets/plugins/jquery-placeholder/Iconr
public/assets/plugins/jquery-placeholder/tests/Iconr
public/assets/plugins/rrssb/Iconr
public/assets/plugins/rrssb/css/Iconr
public/assets/plugins/rrssb/icons/Iconr
public/assets/plugins/rrssb/js/Iconr
public/assets/plugins/rrssb/js/vendor/Iconr
public/assets/plugins/rrssb/media/Iconr
public/assets/plugins/rrssb/scss/Iconr
