<div class="submenu">
    <ul class="subitem">
        <li class="item" ng-show="identity.isAuthorized('teacher')">
            <a ui-sref="home">
                <i class="fa fa-group"></i>
                <span>{{'MY_GROUP' | translate}}</span>
            </a>
        </li>

        <li class="item" ng-show="identity.isAuthorized('parent')">
            <a ui-sref="home">
                <i class="fa fa-child"></i>
                <span>{{'MY_CHILD' | translate}}</span>
            </a>
        </li>
        <li class="item">
            <a ui-sref="messages">
                <i class="fa fa-envelope"></i><span class="badge">{{numOfNewMess > 0 ? numOfNewMess : ''}}</span>
                <span>{{'MESSAGES' | translate}}</span>
            </a>
        </li>

        <li class="item">
            <a ui-sref="calendar">
                <i class="fa fa-calendar"></i>
                <span>{{'CALENDAR' | translate}}</span>
            </a>
        </li>

        <li class="item">
            <a ui-sref="sendMessage">
                <i class="fa fa-pencil-square-o"></i>
                <span>{{'SEND_MESSAGE' | translate}}</span>
            </a>

        </li>

        <li class="item">
            <!-- Button trigger modal -->
            <a data-toggle="modal" data-target="#feedbackModal">
                <i class="fa fa-comments-o"></i>
                <span>{{'Feedback' | translate}}</span>
            </a>
        </li>
    </ul>

</div>
