<div class="homepage">
    <div class="container">
        <div class="row">
            <div ng-include="'../../common/views/appHeader.html'"></div>
        </div>

        <div class="content">

            <div ng-if="identity.isAuthorized('teacher')"
                 ng-include="'../../teacher/views/homeview-teacher.html'"></div>

            <div ng-if="identity.isAuthorized('parent')"
                 ng-include="'../../student/views/studentInfo.html'"></div>

        </div>

        <div class="appFooter teacherHome">
            <div ng-include="'../../common/views/appFooter.html'"></div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="deleteAccountModal" tabindex="-1" role="dialog" aria-labelledby="confirmQuestion2">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="confirmQuestion2">Are you sure to delete your account? This action cannot be undone.</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="removeAccount()">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
