<div class="upper-wrapper">
    <section class="login-section access-section section">
        <div class="container">
            <div class="row">
                <div class="form-box col-md-8 col-sm-12 col-xs-12 col-md-offset-2 col-sm-offset-0 xs-offset-0">
                    <div class="form-box-inner">
                        <h2 class="title text-center">{{'RESET_PASSWORD' | translate}}</h2>
                        <div class="row">
                            <div class="form-container col-xs-12">
                                <form name="resetPasswordForm" class="login-form" ng-submit="resetPassword(newPassword.new)">
                                    <!-- form and ng-submit function cannot have the same name???-->
                                    <div class="form-group password">
                                        <input type="password" class="form-control" required name="password" placeholder="{{'PASSWORD' | translate}}"
                                               ng-model="newPassword.new" ng-minlength="4">
                                        <div class="error-messages" ng-if="interacted(resetPasswordForm.password)"
                                             ng-messages="resetPasswordForm.password.$error" ng-messages-include="../../common/views/errorMessages.html">
                                            <div ng-message="required">You did not enter your password</div>
                                        </div>
                                    </div><!--//form-group-->

                                    <div class="form-group password">
                                        <input type="password" class="form-control" required name="confirmedPassword" placeholder="{{'CONFIRM_PWD' | translate}}"
                                               ng-model="newPassword.confirmed" check-confirm-pwd="newPassword.new">
                                        <div class="error-messages" ng-if="interacted(resetPasswordForm.confirmedPassword)"
                                             ng-messages="resetPasswordForm.confirmedPassword.$error" ng-messages-include="../../common/views/errorMessages.html">
                                            <div ng-message="required">You did not confirm your password</div>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-block btn-cta-primary">{{'SUBMIT' | translate}}</button>
                                </form>
                            </div><!--//form-container-->

                        </div><!--//row-->
                    </div><!--//form-box-inner-->
                </div><!--//form-box-->
            </div>
        </div>
    </section>
</div>
