<div class="bg-slider-wrapper" flex-slider-dir="{animation: 'fade', directionNav: false, controlNav: false, slideshowSpeed: 5000}">
	<div class="flexslider bg-slider">
		<ul class="slides">
			<li class="slide slide-1"></li>
			<li class="slide slide-2"></li>
			<li class="slide slide-3"></li>
		</ul>
	</div>
</div><!--//bg-slider-wrapper-->        

<section class="promo section section-on-bg">
	<div class="container text-center">                
		<h2 class="title">{{'SLOGAN' | translate}}</h2>
		<!--<button type="button" class="play-trigger btn-link " data-toggle="modal" data-target="#modal-video" data-backdrop="static" data-keyboard="false"><i class="fa fa-youtube-play"></i> Watch the video</button>-->
	</div><!--//container-->
</section><!--//promo-->

<div class="sections-wrapper">   

	<!-- ******Why Section****** -->
	<section id="why" class="section why">
		<div class="container">
			<h2 class="title text-center">{{'HOW_TINY_HELP' | translate}}</h2>
			<p class="intro text-center">{{'TINY_MISSION' | translate}}</p>

		</div><!--//container-->
	</section><!--//why-->  


</div><!--//section-wrapper-->

