<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <base href="/">

    <title>Shorten Url App</title>

</head>
<body >
    <b>Enter a long URL to make tiny:</b><br>
    <input type="hidden" id="source" name="source" value="indexpage">
    <input type="text" id="url" name="url">
    <input id="submit" type="submit" name="submit" value="Make TinyURL!" onclick="generateShortenUrl();">
    <hr>Custom alias (optional):<br>
    <tt class="basecontent">https://localhost:4000.com/</tt>
    <input type="text" id="alias" name="alias" value="" maxlength="30"><br>
    <small>May contain letters, numbers, and dashes.</small>
    <br /><hr /> 

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript">
      function generateShortenUrl() {
        var url = $("#url").val();
        var friendlyUrl = $("#alias").val();

        $.ajax({ 
          type: 'POST', 
          url: '/api/shorten', 
          data: JSON.stringify({ url: url, friendlyUrl: friendlyUrl }), 
          contentType:"application/json; charset=utf-8",
          dataType:"text",
          success: function (data) { 
              $('body').append("<a target='_blank' href='" + data + "'>" + data + "</a><br /s>");
          },
          error:   function(jqXHR, textStatus, errorThrown) {
            alert("Error, status = " + textStatus + ", " +
                  "error thrown: " + errorThrown
            );
          }
        });
        // $.post('/api/shorten', JSON.stringify({ url: url, friendlyUrl: friendlyUrl }), 
        //   function(d){
        //     console.log(d);
        //   } 
        // , "json").done(function(d) {
        //   alert( "second success" );
        // });
      }
    </script>
</body>
</html>
