<section class="container section why">
    <div class="row item">
        <div class="content col-xs-12">
            <h3 class="title">What is TinyApp?</h3>
            <p>TinyApp is a simple communication tool that runs on your smartphone (and/or tablet/computer) and is designed specifically for families and daycares. TinyApp could be described as a virtual booklet that reminds you of important dates and upcoming events. It is easy and quick for teachers to update, freeing up the daycare staff to do what they do best: take care of and educate your children.</p>
        </div>
    </div>

    <div class="row item">
        <h3 class="title">TINYAPP IS FOR EVERYBODY</h3>
        <div class="content col-sm-6 col-xs-12">
            <img src="../assets/images/about/pic1.png" alt="pic1"/>
            <p>For families: TinyApp allows families to stay in seamless contact with their daycare and receive those all-important updates, even when time is of the essence. So, no more lost leaflets about upcoming holidays or misplaced notes about the field trip to the library! TinyApp ensures that families gain insight into how their bundle of joy is doing at the daycare. Receiving real-time feedback can be vital if there´s a long list of meetings to attend and your child will be asleep when you come home. With TinyApp, you can rest assured that all of tomorrow’s important events will be remembered. With TinyApp, it is easy to be a good parent.</p>
        </div>

        <div class="content col-sm-6 col-xs-12">
            <img src="../assets/images/about/pic2.png">
            <p>For daycare staff: TinyApp rescues you from the need to update several overlapping notification platforms and frees up your time to allow you to better focus on the job at hand: children. Using TinyApp to deliver feedback ensures that the level of early education remains high, while making sure that the task doesn’t take up too much time. This keeps the children in the spotlight. Having one quick and simple tool through which to give and receive feedback means that the important stuff gets shared, and everybody stays happy. TinyApp makes it easy to communicate important dates, pictures and projects with parents and helps strengthen the parent-daycare partnership.</p>
        </div>

        <div class="content col-xs-12">
            <p>TinyApp settles you to the new day with a promise: <br/>
                <strong>‘Don´t worry, everything will be taken care of and I´ll make it easy.’</strong>
            </p>
            <p>If you have questions, we are here to answer them! The best way to contact the Tiny Team is through email, but as we’re very social creatures, we can also be contacted through social media if you prefer.</p>
            <p>Email: <a href="mailto:hello@tinyapp.biz">hello@tinyapp.biz</a></p>
        </div>
        <div class="content col-xs-12">
            <p>
                <img src="../assets/images/icons/facebook-icon.png" alt="fb" width="50"/>
                Meet us on our Facebook page: <a href="www.facebook.com/TinyAppFinland">www.facebook.com/TinyAppFinland</a>
            </p>
            <p>
                <img src="../assets/images/icons/twitter-icon.png" alt="tw" width="50"/>
                Hear us tweet on Twitter: <a href="https://twitter.com/Tiny_App" target="_blank">@Tiny_App</a>
            </p>
        </div>
    </div>

</section>
