<div class="container">
    <h3>{{'QA_HEADING' | translate}}</h3>
    <ol>
        <li>
            <p><strong>{{'QUESTION1' | translate}}</strong></p>
            <p>{{'ANSWER1_P1' | translate}} <a ui-sref="/">https://tinyapp-staging.herokuapp.com/</a> {{'ANSWER1_P2' | translate}}</p>
        </li>
        <li>
            <p><strong>{{'QUESTION2' | translate}}</strong></p>
            <p>{{'ANSWER2_P1' | translate}}</p>
        </li>
        <li>
            <p><strong>{{'QUESTION3' | translate}}</strong></p>
            <p>{{'ANSWER3_P1' | translate}}</p>
        </li>
        <li>
            <p><strong>{{'QUESTION4' | translate}}</strong></p>
            <p>{{'ANSWER4_P1' | translate}}</p>
        </li>

        <li>
            <p><strong>{{'QUESTION5' | translate}}</strong></p>
            <p>{{'ANSWER5_P1' | translate}}</p>
            <p>{{'ANSWER5_P2' | translate}}</p>
            <p>{{'ANSWER5_P3' | translate}}</p>
        </li>
        <li>
            <p><strong>{{'QUESTION6' | translate}}</strong></p>
            <p>{{'ANSWER6_P1' | translate}} </p>
            <ul>
                <li>{{'ANSWER6_P1_ITEM1' | translate}}</li>
                <li>{{'ANSWER6_P1_ITEM2' | translate}}</li>
                <li>{{'ANSWER6_P1_ITEM3' | translate}}</li>
                <li>{{'ANSWER6_P1_ITEM4' | translate}}</li>
                <li>{{'ANSWER6_P1_ITEM5' | translate}}</li>
                <li>{{'ANSWER6_P1_ITEM6' | translate}}</li>
            </ul>
            <p></p>
            <p>{{'ANSWER6_P2' | translate}}</p>
            <ul>
                <li>{{'ANSWER6_P2_ITEM1' | translate}}</li>
                <li>{{'ANSWER6_P2_ITEM2' | translate}}</li>
                <li>{{'ANSWER6_P2_ITEM3' | translate}}</li>
                <li>{{'ANSWER6_P2_ITEM4' | translate}}</li>
                <li>{{'ANSWER6_P2_ITEM5' | translate}}</li>
            </ul>
            <p></p>
            <p>{{'ANSWER6_P3' | translate}}</p>
        </li>
        <li>
            <p><strong>{{'QUESTION7' | translate}}</strong></p>
            <p>{{'ANSWER7_P1' | translate}}</p>
        </li>
        <li>
            <p><strong>{{'QUESTION8' | translate}}</strong></p>
            <p>{{'ANSWER8_P1' | translate}}</p>
            <p>{{'ANSWER8_P2' | translate}}</p>
        </li>

        <li>
            <p><strong>{{'QUESTION9' | translate}}</strong></p>
            <p>{{'ANSWER9_P1' | translate}} <a href="mailto:hello@tinyapp.biz">hello@tinyapp.biz</a> {{'ANSWER9_P2' | translate}}</p>
        </li>
        <li>
            <p><strong>{{'QUESTION10' | translate}}</strong></p>
            <p>{{'ANSWER10_P1' | translate}}</p>
        </li>
        <li>
            <p><strong>{{'QUESTION11' | translate}}</strong></p>
            <p>{{'ANSWER11_P1' | translate}}</p>
        </li>
    </ol>
</div>
