<section class="container section why">
    <div class="row item">
        <div class="content col-xs-12">
            <h3 class="title">Mitä on TinyApp?</h3>
            <p>TinyApp on yksinkertaisesti perheen ja päiväkodin väliseen viestintään keskittyvä
                palvelu. Tuo virtuaalinen reissuvihko synkronisoi lapsesi tulevat tapahtumat kalenteriisi yhden näpäytyksen alle ja vapauttaa jääkaapin oven taas hellyyttäville
                värikynäpiirustuksille. Myös päiväkodin ilmoitustaulu irtisanotaan noottien
                ylitsepursuavasta ikeestä ja annetaan kasvattajien viimein keskittyä perustehtäväänsä.
                Meille kaikille.
            </p>
        </div>
    </div>

    <div class="row item">
        <div class="content col-sm-6 col-xs-12">
            <img src="../assets/images/about/pic1.png" alt="pic1"/>
            <p>Perheille TinyApp mahdollisuuden pitää yhteyttä päiväkotiin ja olla mukana päiväkodin arjessa silloin kun heille sopii ilman katoavia
                lupalappusia ja metsäretkestä muistuttavia muistutuksia. Palvelun reaaliaikaisuus päästää vanhemmat mukaan lapsen tärkeisiin hetkiin
                päiväkodissa. TinyApp:n avulla on helppoa olla hyvä vanhempi!
            </p>
        </div>

        <div class="content col-sm-6 col-xs-12">
            <img src="../assets/images/about/pic2.png">
            <p>Päiväkodin työntekijöille TinyApp on moderni tapa tukea
                kasvatuskumppanuutta perheiden ja päiväkodin välillä. Molemminpuolinen
                palaute pitää varhaiskasvatuksen laadun korkealla ja asiakaslähtöisyyden
                hyppysissä. Yksi selkeä, sähköinen kanava viestinnälle säästää muutaman
                puun jälkipolville ja vapauttaa työntekijän paperitöiden
                ylitsepursuavasta ikeestä. Enää ei asioita unohdu kertomatta kiireen tai
                ajanpuutteen takia.
            </p>
        </div>

        <div class="content col-xs-12">
            <p>TinyApp saattelee sekä vanhemmat että päiväkodin työntekijät päivään ajatuksella:
                “Älä huoli, kaikki hoituu kyllä. Me tehdään se helpoksi.”</p>
        </div>
    </div>

</section>