a {
  text-decoration: none !important;
}
/*ready-made layout*/
.promo.section h2.title {
  margin-top: 100px;
}
.main-nav.navbar-right {
  float: none !important;
}
.rotate-1 .jcrop-holder {
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}
/*******************/
.error-messages.ng-active {
  background: maroon;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin-top: 15px;
  position: relative;
}
.error-messages.ng-active:after {
  position: absolute;
  top: -10px;
  content: "";
  left: 20px;
  border-style: solid;
  border-color: transparent transparent maroon;
  border-width: 5px;
}
#header {
  background: #000;
}
.langSelection {
  position: absolute;
  top: 20px;
  right: 70px;
}
.langSelection button {
  background: transparent;
}
.langSelection ul li {
  color: #000;
  padding: 5px 10px;
}
.langSelection ul li:hover {
  background-color: #009e0f;
  color: #fff;
}
.signup-page .access-section .divider {
  right: 0px;
  left: auto;
}
.signup-page .access-section .divider span {
  top: 50%;
}
.signup-page .form-container {
  padding-right: 80px;
}
.signup-page .social-btns {
  position: absolute;
  right: 0;
  margin-right: 80px;
  top: 50%;
}
.signup-page .groupCode span {
  position: absolute;
  right: -25px;
  margin-top: -30px;
}
.section-wrapper {
  min-height: 400px;
  background: rgba(0, 158, 15, 0.51);
}
.center {
  text-align: center;
  margin-top: 120px;
  color: #fff;
}
.center h1 {
  font-size: 30pt;
}
.center .parent a,
.center .teacher a {
  color: #fff;
}
.submenu {
  margin-top: 30px;
  margin-bottom: 30px;
}
.submenu .subitem {
  text-align: center;
  list-style-type: none;
}
.submenu .subitem li.item {
  display: inline-block;
  margin: 0 5px;
}
.submenu .subitem li.item a {
  font-size: 15pt;
  text-decoration: none;
  display: block;
  cursor: pointer;
}
.submenu .subitem li.item a i {
  font-size: 25pt;
}
.submenu .subitem li.item a span:not(.badge) {
  display: block;
}
.submenu .subitem li.item a span.badge {
  position: absolute;
  margin-left: 15px;
  margin-top: -10px;
  background-color: #1B8F9E;
}
.avatar-holder {
  display: block;
  width: 75px;
  height: 75px;
  border: 1px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}
.avatar-holder img {
  width: 100%;
}
.content {
  overflow: auto;
  margin-bottom: 30px;
  position: relative;
  /*create student form*/
  /*event calendar*/
}
.content .template .delete {
  padding: 5px 10px;
}
.content .no-template {
  padding-top: 15px;
}
.content .calendarEvents.parent {
  padding: 0 50px;
}
.content .studentInfo {
  padding-bottom: 150px;
}
.content .studentList {
  overflow: auto;
  padding-bottom: 150px;
}
.content .studentList .student {
  padding-bottom: 30px;
}
.content .studentList .student:nth-child(4n+1) {
  clear: both;
}
.content .studentList .student .image {
  text-align: center;
}
.content .studentList .student .image a {
  text-decoration: none;
  color: #444;
}
.content .studentList .student .image a i.fa-user {
  font-size: 50pt;
  color: rgba(73, 124, 128, 0.56);
}
.content .studentList .student .image a h5 {
  font-size: 16px;
}
.content .studentList .student .image .dropdown-menu {
  width: 100%;
}
.content .studentList .student.incare .image i.fa-user {
  color: #009e0f;
}
.content .delete {
  position: absolute;
  right: 0;
  margin-top: -30px;
  color: #ff0000;
  cursor: pointer;
}
.content .addEventArea,
.content #editEventModal {
  padding-bottom: 200px;
}
.content .addEventArea .form-group .timelabel,
.content #editEventModal .form-group .timelabel {
  line-height: 97px;
}
.content .addEventArea .form-group .dropdown-menu table:focus,
.content #editEventModal .form-group .dropdown-menu table:focus {
  outline: none;
}
.content .addEventArea .form-group .actions .btn,
.content #editEventModal .form-group .actions .btn {
  margin-left: 10px;
}
.content .calendar .fc-day-grid-container.fc-scroller {
  height: auto !important;
}
.content .calendar .fc-toolbar button:focus {
  z-index: 1;
}
.content .calendar .fc-event .deleteEvent {
  position: absolute;
  right: 0px;
  margin-top: -27px;
  color: #ff6d6f;
  z-index: 999;
}
.content .calendar .fc-event .deleteEvent:hover {
  color: red;
}
.content .calendar > .btn-group {
  margin-bottom: 15px;
}
.content .calendar .popover {
  z-index: 99;
}
.content .eventMenu ul {
  padding: 0px;
  list-style-type: none;
}
.content .eventMenu ul li {
  display: inline-block;
  padding: 3px 15px;
  margin-right: 7px;
  font-size: 18px;
  border-radius: 4px;
}
.content .eventMenu ul li.editEventBtn {
  color: #009e0f;
}
.content .eventMenu ul li.editEventBtn:hover {
  background: #009e0f;
  color: #fff;
}
.content .eventMenu ul li.deleteEvent {
  color: #E52525;
}
.content .eventMenu ul li.deleteEvent:hover {
  background: #E52525;
  color: #fff;
}
.content #editEventModal .modal-header {
  background: #2297D3;
  color: #fff;
}
.content #editEventModal .modal-header .close {
  color: #fff;
  opacity: 0.6;
}
.content #editEventModal .modal-header .close:hover {
  opacity: 1;
}
.content .status {
  overflow: auto;
}
.content .status .statusItem {
  margin-left: -14px;
}
.content .status .statusItem .panel {
  border: 1px solid #009e0f;
  border-radius: 0px;
}
.content .status .statusItem .panel .heading {
  padding: 5px 10px;
  background: #009e0f;
  color: #fff;
}
.content .childProfile {
  padding: 15px 0px;
}
.content .childProfile .avatar .pic-holder {
  display: block;
  width: 50px;
  height: 50px;
  border: 1px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}
.content .childProfile .avatar .pic-holder img {
  width: 100%;
}
.content .childProfile .avatar span.name {
  display: block;
}
.dropdown-menu.childStatus .item,
.statusIndicator .item {
  cursor: pointer;
}
.dropdown-menu.childStatus .item a:hover,
.statusIndicator .item a:hover {
  background: rgba(0, 158, 15, 0.61);
}
.dropdown-menu.childStatus i,
.statusIndicator i {
  margin-right: 7px;
}
.dropdown-menu.childStatus .sick i,
.statusIndicator .sick i {
  color: #e72326;
}
.dropdown-menu.childStatus .away i,
.statusIndicator .away i {
  color: #D7D738;
}
.dropdown-menu.childStatus .late i,
.statusIndicator .late i {
  color: #C004C0;
}
.dropdown-menu.childStatus .vacation i,
.statusIndicator .vacation i {
  color: #247DF2;
}
.dropdown-menu.childStatus .incare i,
.statusIndicator .incare i {
  color: #009e0f;
}
.dropdown-menu.childStatus .outcare i,
.statusIndicator .outcare i {
  color: #8B8A8A;
}
.statusIndicator {
  padding: 0px;
  position: absolute;
  width: 100%;
  margin-top: -10px;
}
.statusIndicator .item {
  list-style-type: none;
  display: inline-block;
}
.statusIndicator .item i {
  font-size: 10px;
  margin: 0px 3px;
}
.appFooter {
  position: relative;
}
.appFooter.teacherHome {
  margin-top: -120px;
}
.appFooter .actions ul.actionMenu {
  text-align: center;
  padding-left: 0px;
}
.appFooter .actions ul.actionMenu li {
  list-style-top: none;
  display: inline-block;
  padding: 10px 15px;
  text-align: center;
}
.appFooter .actions ul.actionMenu li a {
  text-decoration: none;
  cursor: pointer;
}
.appFooter .actions ul.actionMenu li a i {
  font-size: 25pt;
  display: block;
}
.profileForm,
.editableForm {
  /* Apply these styles only when #preview-pane has
       been placed within the Jcrop widget */
  /* The Javascript code will set the aspect ratio of the crop
     area based on the size of the thumbnail preview,
     specified here */
}
.profileForm .profilePicture,
.editableForm .profilePicture {
  text-align: center;
}
.profileForm .form-group .addmore,
.editableForm .form-group .addmore {
  margin-bottom: 15px;
}
.profileForm .form-group .item,
.editableForm .form-group .item {
  margin-bottom: 10px;
}
.profileForm .block,
.editableForm .block {
  padding-top: 10px;
  background: rgba(27, 128, 128, 0.22);
  border: 1px solid rgba(27, 128, 128, 0.4);
  border-radius: 4px;
  position: relative;
}
.profileForm .block .delete,
.editableForm .block .delete {
  margin-top: -13px;
  margin-right: -5px;
  top: 0px;
}
.profileForm .img-container,
.editableForm .img-container {
  float: left;
}
.profileForm #preview-pane,
.editableForm #preview-pane {
  float: right;
  z-index: 2000;
  top: 300px;
  right: 80px;
  padding: 6px;
  border: 1px rgba(0, 0, 0, 0.4) solid;
  background-color: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
}
.profileForm #preview-pane .preview-container,
.editableForm #preview-pane .preview-container {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
}
.profileForm .progress,
.editableForm .progress {
  display: inline-block;
  width: 100px;
  border: 3px groove #CCC;
}
.profileForm .progress div,
.editableForm .progress div {
  font-size: smaller;
  background: orange;
  width: 0;
}
.editableForm,
.profile {
  overflow: auto;
}
.editableForm .form-group,
.profile .form-group {
  clear: both;
}
.editableForm .form-group .editable-wrap,
.profile .form-group .editable-wrap {
  width: 100%;
  margin-bottom: 10px;
}
.editableForm .profilePicture,
.profile .profilePicture {
  text-align: center;
}
.editableForm .profilePicture .statusArea,
.profile .profilePicture .statusArea {
  margin-top: 20px;
}
.editableForm .profilePicture .statusArea ul,
.profile .profilePicture .statusArea ul {
  list-style-type: none;
  text-align: left;
  padding-left: 15px;
  background: #F5F5F5;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0px;
}
/*send Message*/
#cke_messageBodyDesktop {
  box-sizing: border-box;
}
#cke_messageBodyMobile {
  box-sizing: border-box;
  display: none;
}
.btn-group.template {
  display: block;
}
.btn-group.template .input-group-addon {
  background: rgba(0, 158, 15, 0.6);
}
.btn-group.template ul.dropdown-menu {
  width: 100%;
}
.btn-group.template ul.dropdown-menu li a {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.btn-group.template ul.dropdown-menu li a:hover {
  background: rgba(0, 158, 15, 0.6);
}
.recipientInput {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.recipientInput ul {
  width: 100%;
  padding-left: 0px;
  margin-bottom: 0px;
  display: inline-block;
}
.recipientInput ul li {
  list-style-type: none;
  float: left;
  padding: 0px 10px;
}
.recipientInput ul li.input {
  float: none;
  overflow: hidden;
  min-width: 150px;
}
.recipientInput ul li.input input {
  width: 100%;
  border: none;
}
.recipientInput ul li.input input:focus {
  outline-style: none;
}
.messageReceiver {
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.65);
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  color: #fff;
  z-index: 100;
}
.messageReceiver:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid rgba(0, 0, 0, 0.65);
  position: absolute;
  margin-top: -25px;
  left: 20px;
}
.messageReceiver .checkbox {
  padding-left: 20px;
}
.messageReceiver ul.recipientList {
  padding-left: 20px;
}
.messageReceiver ul.recipientList li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 15px;
  margin-right: 5px;
  text-align: center;
}
.messageReceiver ul.recipientList li i {
  color: #009e0f;
}
.messageReceiver .closeBtn {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  margin-top: -25px;
  right: 0px;
  text-align: center;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
  cursor: pointer;
}
.messageReceiver .closeBtn:hover {
  background: #009e0f;
}
.profileToCreate .item {
  padding: 10px 20px;
  border: 2px solid #000;
  margin-bottom: 5px;
  background: #009e0f;
  opacity: 0.7;
}
.profileToCreate .item a,
.profileToCreate .item i {
  color: #fff;
  text-decoration: none;
  transition: none;
}
.profileToCreate .item:hover {
  opacity: 1;
}
.profileToCreate .item:hover a,
.profileToCreate .item:hover i {
  color: #fff;
}
/*messages*/
.messageList ul {
  overflow: hidden;
}
.tabBody {
  margin-top: 15px;
  overflow: hidden;
}
.messageItem {
  overflow: auto;
  margin-bottom: 10px;
}
.messageItem .recipientList {
  height: 40px;
  overflow: hidden;
}
.messageItem .recipientList ul li {
  display: inline-block;
}
.messageItem .recipientList ul li:after {
  content: ', ';
  margin-right: 3px;
}
.messageItem .panel-heading a {
  text-decoration: none;
  outline: none;
}
.messageItem .panel-heading a .sentTime {
  float: right;
  font-size: 12px;
}
.messageItem .panel-heading a:hover {
  color: #009e0f;
}
.messageItem .actions {
  float: right;
  right: 40px;
  bottom: 10px;
}
.messageItem .actions ul {
  list-style-type: none;
  padding: 0px;
}
.messageItem .actions ul li {
  display: inline-block;
  margin-left: 5px;
  background: #DDD;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
}
.messageItem .actions ul li a {
  padding: 7px 10px;
  cursor: pointer;
}
.messageItem .unseen:not(.clicked) .panel-heading {
  background-color: #d6e9c6;
}
.draftMessage {
  margin-bottom: 10px;
}
.draftMessage .messageBody {
  background: #f5f5f5;
  border: 1px solid #ddd;
  height: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px 10px;
}
/* teacher homepage*/
.content .notification ul.notiList {
  padding: 0px 30px;
}
.content .notification ul.notiList li {
  list-style-type: none;
  padding: 18px 10px 2px;
  border-bottom: 1px solid #d6e9c6;
}
.content .notification ul.notiList li a {
  color: #28A2BE;
  text-decoration: none;
}
.content .checkinBtn {
  margin-bottom: 30px;
}
.content .checkinBtn .btn {
  min-width: 140px;
}
.helppage .content {
  color: #444;
}
.helppage .content a {
  display: block;
  width: 250px;
  margin: auto;
  text-align: left;
  text-decoration: none;
}
.helppage .content a i {
  width: 30px;
  text-align: center;
}
.filter .form-control {
  height: 34px;
}
.statusReport .content {
  min-height: 400px;
  overflow: initial;
}
.groupList:not(:last-child):after {
  content: ', ';
}
/*in-app navigation*/
@media (min-width: 768px) {
  .main-nav .navbar-header .toggleInApp {
    display: block;
    right: 20px;
  }
  .main-nav .navbar-collapse.menuInApp {
    position: absolute;
    top: 50px;
    right: 10px;
    display: none !important;
  }
  .main-nav .navbar-collapse.menuInApp:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #253340;
    position: absolute;
    right: 22px;
    top: -10px;
  }
  .main-nav .navbar-collapse.menuInApp.off {
    height: 0px !important;
    overflow: hidden !important;
  }
  .main-nav .navbar-collapse.menuInApp.in {
    display: block !important;
  }
  .main-nav .navbar-collapse.menuInApp ul.navbar-nav {
    background: #253340;
    width: 250px;
  }
  .main-nav .navbar-collapse.menuInApp ul.navbar-nav li {
    float: none;
  }
  .main-nav .navbar-collapse.menuInApp ul.navbar-nav li a {
    text-align: left;
  }
}
/*******************/
@media (max-width: 992px) {
  .signup-page .access-section .divider {
    text-align: center;
  }
  .signup-page .access-section .divider:before {
    top: auto;
    margin-top: 12px;
  }
  .signup-page .social-btns {
    position: relative;
  }
}
@media (max-width: 768px) {
  .submenu .subitem {
    margin-bottom: 10px;
  }
  .content .calendarEvents.parent {
    padding: 0;
  }
  .content .addEventArea,
  .content #editEventModal {
    padding-bottom: 0px;
    margin-bottom: 10px;
    margin-left: -15px;
  }
  .content .addEventArea > .btn,
  .content #editEventModal > .btn {
    margin-bottom: 10px;
  }
  .content .addEventArea .form-group .timelabel,
  .content #editEventModal .form-group .timelabel {
    line-height: 22px;
  }
  .content #cke_messageBodyDesktop {
    box-sizing: border-box;
    display: none;
  }
  .content #cke_messageBodyMobile {
    box-sizing: border-box;
    display: block;
  }
  .signup-page .form-container {
    padding-right: 15px;
  }
}
@media (max-width: 500px) {
  .langSelection {
    left: 2px;
  }
}
@media (max-width: 400px) {
  .submenu .subitem li.item a span:not(.badge) {
    display: none !important;
  }
  .submenu .subitem li.item a span.badge {
    margin-left: -25px;
    margin-top: -15px;
  }
  .actions ul.actionMenu .item:nth-child(2n+1) {
    clear: both;
  }
  .actions ul.actionMenu .item i {
    font-size: 18pt;
  }
  .calendar .fc button .fc-icon {
    top: 0;
  }
  .calendar .fc-icon {
    font-size: 1em;
  }
}
