<div class="calendarEvents" ng-controller="calendarController">
    <!--sometime, functions inside controller doesn't work if we don't specify the ng-controller in the view-->
    <div class="container">
        <div class="row appHeader">
            <div ng-include="'../../common/views/appHeader.html'"></div>
        </div>

        <div class="content">
            <div class="calendarEvents" ng-class="identity.isAuthorized('teacher') ? 'teacher' : 'parent'">
                <div class="col-md-4 col-sm-12 addEventArea" ng-if="identity.isAuthorized('teacher')">
                    <button class="btn btn-info" ng-click="addEvent()">{{'ADD_EVENT' | translate}}</button>
                    <div class="newEventList" ng-repeat="event in newlyAddedEvents">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-4 col-xs-12 control-label" for="eventTitle">{{'TITLE' |
                                    translate}}</label>

                                <div class="col-xs-8">
                                    <input name="eventTitle" class="form-control" ng-model="event.title" type="text"
                                           ng-blur="inputChanged(event)">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 col-xs-12 control-label" for="eventStartDate">{{'START_DATE' |
                                    translate}}</label>

                                <div class="col-xs-8">
                                    <input type="text"
                                           ng-value="event.startDate | date: format"
                                           class="form-control"
                                           datepicker-popup="{{format}}"
                                           ng-model="event.startDate"
                                           is-open="event.picker1"
                                           min-date="minDate"
                                           datepicker-options="dateOptions"
                                           date-disabled="disabled(date, mode)"
                                           ng-required="true"
                                           close-text="Close"
                                           ng-click="open(event, 'picker1')"
                                           ng-change="inputChanged(event)"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 col-xs-12 control-label timelabel" for="eventStartTime">{{'START_TIME'
                                    | translate}}</label>

                                <div class="col-xs-8">
                                    <timepicker ng-model="event.startTime" ng-change="inputChanged(event)"
                                                hour-step="hstep" minute-step="mstep"
                                                show-meridian="ismeridian"></timepicker>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 col-xs-12 control-label" for="eventEndDate">{{'END_DATE' |
                                    translate}}</label>

                                <div class="col-xs-8">
                                    <input type="text"
                                           ng-value="event.endDate | date: format"
                                           class="form-control"
                                           datepicker-popup="{{format}}"
                                           ng-model="event.endDate"
                                           is-open="event.picker2"
                                           min-date="event.startDate"
                                           datepicker-options="dateOptions"
                                           date-disabled="disabled(date, mode)"
                                           close-text="Close"
                                           ng-click="open(event, 'picker2')"
                                           ng-change="inputChanged(event)"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 col-xs-12 control-label timelabel" for="eventStartTime">{{'END_TIME'
                                    | translate}}</label>

                                <div class="col-xs-8">
                                    <timepicker ng-model="event.endTime" ng-change="inputChanged(event)"
                                                hour-step="hstep" minute-step="mstep"
                                                show-meridian="ismeridian"></timepicker>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-8 pull-right">
                                    <input type="checkbox" ng-model="event.allDay" ng-change="inputChanged(event)"/> {{'All day' | translate}}
                                    <input type="checkbox" ng-model="event.isPublished" ng-change="inputChanged(event)"/>
                                    {{'PUBLISH' | translate}}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 actions">
                                    <button class="btn btn-info pull-right" ng-click="saveEvent(event, $index)">{{'SAVE'
                                        | translate}}
                                    </button>
                                    <button class="btn btn-danger pull-right" ng-click="cancelEvent($index)">{{'CANCEL'
                                        | translate}}
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
                <div class="col-md-8 col-sm-12 row calendar">
                    <div class="btn-group">
                        <button class="btn btn-success" ng-click="changeView('agendaDay','myCalendar')">{{'DAY' |
                            translate}}
                        </button>
                        <button class="btn btn-success" ng-click="changeView('agendaWeek','myCalendar')">{{'WEEK' |
                            translate}}
                        </button>
                        <button class="btn btn-success" ng-click="changeView('month','myCalendar')">{{'MONTH' |
                            translate}}
                        </button>
                    </div>

                    <div ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="myCalendar">

                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="editEventModal" tabindex="-1"
                     role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">{{'EDIT_EVENT' | translate}}</h4>

                            </div>
                            <div class="modal-body">
                                <form class="form-horizontal">

                                    <div class="form-group">
                                        <label class="col-sm-4 col-xs-12 control-label" for="eventTitle">{{'TITLE' |
                                            translate}}</label>

                                        <div class="col-sm-8 col-xs-12">
                                            <input name="eventTitle" class="form-control" ng-model="editingEvent.title"
                                                   type="text" ng-blur="inputChanged(editingEvent)">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 col-xs-12 control-label" for="eventStartDate">{{'START_DATE'
                                            | translate}}</label>

                                        <div class="col-xs-8">
                                            <input type="text"
                                                   ng-value="editingEvent.startDate | date: format"
                                                   class="form-control"
                                                   datepicker-popup="{{format}}"
                                                   ng-model="editingEvent.startDate"
                                                   is-open="editingEvent.picker1"
                                                   min-date="minDate"
                                                   datepicker-options="dateOptions"
                                                   date-disabled="disabled(date, mode)"
                                                   ng-required="true"
                                                   close-text="Close"
                                                   ng-change="inputChanged(editingEvent)"
                                                   ng-click="open(editingEvent, 'picker1')"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 col-xs-12 control-label timelabel" for="eventStartTime">{{'START_TIME'
                                            | translate}}</label>

                                        <div class="col-xs-8">
                                            <timepicker ng-model="editingEvent.startTime" hour-step="hstep"
                                                        minute-step="mstep"
                                                        show-meridian="ismeridian"
                                                        ng-change="inputChanged(editingEvent)"></timepicker>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 col-xs-12 control-label" for="eventEndDate">{{'END_DATE'
                                            | translate}}</label>

                                        <div class="col-xs-8">
                                            <input type="text"
                                                   ng-value="editingEvent.endDate | date: format"
                                                   class="form-control"
                                                   datepicker-popup="{{format}}"
                                                   ng-model="editingEvent.endDate"
                                                   is-open="editingEvent.picker2"
                                                   min-date="editingEvent.startDate"
                                                   datepicker-options="dateOptions"
                                                   date-disabled="disabled(date, mode)"
                                                   close-text="Close"
                                                   ng-change="inputChanged(editingEvent)"
                                                   ng-click="open(editingEvent, 'picker2')"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 col-xs-12 control-label timelabel" for="eventStartTime">{{'END_TIME'
                                            | translate}}</label>

                                        <div class="col-xs-8">
                                            <timepicker ng-model="editingEvent.endTime" hour-step="hstep"
                                                        minute-step="mstep"
                                                        show-meridian="ismeridian"
                                                        ng-change="inputChanged(editingEvent)"></timepicker>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 col-xs-12"></div>
                                        <div class="col-sm-8">
                                            <span><input type="checkbox"
                                                         ng-model="editingEvent.allDay"
                                                         ng-change="inputChanged(editingEvent)"/> {{'All day' | translate}}</span>
                                            <span><input type="checkbox"
                                                         ng-model="editingEvent.isPublished"
                                                         ng-change="inputChanged(editingEvent)">{{'PUBLISH' | translate}}</span>
                                        </div>

                                    </div>

                                </form>
                            </div>
                            <div class="modal-footer">

                                <button type="button" class="btn btn-default" data-dismiss="modal">{{'CLOSE' |
                                    translate}}
                                </button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"
                                        ng-click="inputChanged(editingEvent, 1)">{{'SAVE_CHANGES' | translate}}
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="appFooter">
            <div ng-include="'../../common/views/appFooter.html'"></div>
        </div>
    </div>

</div>
