<div class="landingpage" ng-controller="teacherController">
	<div class="container">
		<div class="row">
            <div ng-include="'../../common/views/appHeader.html'"></div>
		</div>

		<div class="content">
			<h2 class="text-center">{{'WELCOME_TO' | translate}} {{group.name}}</h2>
			<h3 class="text-center">{{'CREATE_YOUR_GROUP' | translate}}</h3>
			<div class="form-box col-md-8 col-sm-12 col-xs-12 col-md-offset-2 col-sm-offset-0 xs-offset-0">
				<h4>{{formMessage}}</h4>
				<form name="createProfiles" novalidate ng-submit="createStudentProfiles(createProfiles.$valid)">
					<div class="form-group studentName" ng-repeat="student in studentToCreate">
						<ng-form name="userFieldForm">
							<input type="text" class="form-control"
                                   name="studentname" placeholder="{{'ENTER_CHILD_NAME' | translate}}" autofocus=""
                                   ng-model="student.name" required
                                   ng-pattern="/^[a-zA-ZäåüöÄÜÖß\s\-]{0,35}$/">
                            <span class="fa fa-times delete" ng-click="deleteStudent($index)"></span>
							<div class="error-messages" ng-if="interacted(userFieldForm.studentname)" ng-messages="userFieldForm.studentname.$error" ng-messages-include="../../common/views/errorMessages.html">
							<div ng-message="required">This field is required</div>
							<div ng-message="pattern">Please fill in one name only and less than 35 characters</div>

							</div>
						</ng-form>

					</div>

					<div class="text-right">
						<button type="button" class="btn btn-info" ng-click="addStudent()">{{'ADD_ROW' | translate}}</button>
					</div>

					<div class="submitBtn">
						<button type="submit" class="btn btn-primary">{{'CREATE_GROUP' | translate}}</button>
					</div>

				</form>
			</div>
		</div>
	</div>
</div>
