<div ng-controller="teacherController">
    <div class="title text-center ">
        <h2>
            {{'KINDERGARTEN_GROUP' | translate}}:
            <span ng-if="allGroups.length === 1">{{group.name}}</span>
            <span class="dropdown" dropdown ng-if="allGroups.length > 1">
                <a href class="dropdown-toggle" dropdown-toggle>
                    {{group.name}} <i class="fa fa-angle-down"></i>
                </a>

                <ul class="dropdown-menu">
                    <li class="item" ng-repeat="thisgroup in allGroups" ng-click="changeGroup(thisgroup)">
                        <a href="">{{thisgroup.name}}</a>
                    </li>
                </ul>
            </span>
        </h2>
    </div>
    <div class="status">
        <div class="statusItem col-sm-3 col-xs-6" ng-repeat="(status, who) in studentStatus" ng-if="who.length > 0 && status !== 'outcare'">
            <div class="panel">
                <div class="heading text-center" ng-if="status === 'incare'">{{status + '_STATUS' | uppercase | translate}}</div>
                <div class="heading text-center" ng-if="status !== 'incare'">{{status | uppercase | translate}}</div>
                <div class="amount text-center">{{who.length}}{{status}}</div>
            </div>
        </div>
    </div>

    <div class="checkinBtn">
        <button class="btn btn-info" ng-click="preSaveStatus()">{{'SAVE_STT' | translate}}</button>
    </div>
    <div class="studentList">
        <div class="student col-sm-3 col-xs-6"
             ng-repeat="child in students.inGroup | orderBy: 'name'"
             ng-class="{incare: child.status.indexOf('incare') > -1}">
            <div class="dropdown image" dropdown>
                <a href class="dropdown-toggle avatar" dropdown-toggle>
                    <span class="avatar-holder"><img ng-src="{{child.personalInfo.profilePicture.thumb}}" alt=""/></span>
                    <h5 class="name">{{child.name}}</h5>
                </a>
                <ul class="statusIndicator">
                    <li class="item" ng-repeat="status in child.status" ng-class="status">
                        <i class="fa fa-circle"></i>
                    </li>
                </ul>
                <ul class="dropdown-menu childStatus">
                    <li class="item"><a ui-sref="profile({id: child._id})">{{'PROFILE' | translate}}</a></li>
                    <li class="divider"></li>
                    <li class="item" ng-repeat="(key, status) in statusOptions" ng-click="updateChildStatus(child, key)">
                        <a ng-class="key">
                            <i class="fa fa-circle"></i>
                            {{key | uppercase | translate}}
                        </a>
                    </li>
                    <li class="divider" ng-if="child.hasInfo"></li>
                    <li class="item" ng-if="child.hasInfo"> <!--doesn't work with child.hasInfo ==false???-->
                        <a href="" data-toggle="modal" data-target="#deleteProfileModal" ng-click="openDeleteModal(child)">
                            {{"Delete profile" | translate}}
                        </a>
                    </li>
                </ul>

                <!-- Modal -->
                <div class="modal fade" id="deleteProfileModal" tabindex="-1" role="dialog" aria-labelledby="confirmQuestion1">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="confirmQuestion1">Are you sure to delete {{childToRemove.name}}'s profile?</h4>
                            </div>
                            <div class="modal-body">
                                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="deleteChildProfile(childToRemove)">Yes</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
